.table
{
    display: table;
    border-collapse: collapse;
    font-family: "Times";
    border-color: gray solid 2px;
    overflow: hidden;
}

.cell
{
    display: table-cell;
    font-size: 15px;
    padding-right: 10px;
    padding-left: 25px;
    position: relative;
}

.row
{
    display: table-row;
    position: relative;
}

.row:nth-child(2n):not(:hover) .cell::after
{
    background: #cfdefd;
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    width: 100%;
    z-index: -2;
}

.row:hover
{
    background: #716de5;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    display: table-row;
}

.th
{
    background: #d9c8f4;
    font-size: 0.8em;
    padding: 20px;
    font-weight: bold;
}

.cell:hover::after,
.th:hover::after
{
    background: #716de5;
    content: "";
    position: absolute;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    left: 0;
    top: -10000px;
    height: 20000px;
    width: 100%;
    z-index: -1;
}

.typePlane,
.terminal,
.time
{
    padding-left: 0;
    text-align: center;
    width: 25px;
}

.aeroflot
{
    background: url(http://opentoronto.com/pics/aeroflot_air_airlines_LOGO.jpg);
}

.airfrance
{
    background: url(http://www.vietnamonline.com/js/ckfinder/userfiles/images/AirFrance%20logo.png);
}

.klm
{
    background: url(http://assets.gcstatic.com/u/apps/asset_manager/uploaded/2012/11/klm-logo-1331564957.jpg);
}

.russia
{
    background: url(http://avia-mir.ru/Aviakompanii/Russian_airlines_logo.jpg);
}

.logo
{
    padding-left: 5px;
    width: 5px;
    vertical-align: center;
    text-align: center;
    background-size: 70px 20px;
    background-repeat: no-repeat;
}

button
{
    visibility: hidden;
}

input[type="tel"]:valid ~ input[type="email"]:valid ~ button
{
    visibility: visible;
}

input[value="E"]:checked ~ div.table div.D,
input[value="D"]:checked ~ div.table div.E,
input[value="arrival"]:checked ~ div.table div.departure,
input[value="departure"]:checked ~ div.table div.arrival,
input.getCity[value="Екатеринбург"] ~ div.table div.row:not(.Ekb):not(.head),
input.getCity[value="Челябинск"] ~ div.table div.row:not(.Che):not(.head),
input.getCity[value="Краснодар"] ~ div.table div.row:not(.Kra):not(.head),
input.getCity[value="Париж"] ~ div.table div.row:not(.Par):not(.head),
input.getCity[value="Санкт-Петербург"] ~ div.table div.row:not(.Spb):not(.head)
{
    display: none;
}
